<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>New Bill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <!-- -------------------------------------------ORIGINAL------------------------------------------------- -->

    <%= render partial: "shared/dashboard" %>
        <% type=params[:category]%>

            <div style="position:absolute; overflow-y:auto; top:0; height:120%; width: 82.5%; margin: 80px 220px; ">

                <div class="container">
                    <!-- Main content starts here -->

                    <!-- Main content ends here -->
                </div>

            </div>
            <%= render 'shared/footer' %>
</body>