<%= render partial: "shared/dashboard" %>

    
   
       <div style="position:absolute; overflow-y:auto; top:0; height:120%; width: 82.5%; margin: 80px 220px;">

        <!-- Main content starts here -->
        <div class="conatiner">
            <h1> I am Homepage but Empty now . the content which to 
               be highlighted will be displayed here  </h1>
               <h2> Thanks for Visiting me </h2>
            
        </div>
            <!-- Main content ends here -->
    </div>
    <%= render 'shared/footer' %>