<div class="">
    
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
        <header>
            <!-- ======================================Navigation Bar================================================= -->
            <nav class="navbar navbar-expand-lg navStyle">
                <a class="brand-navbar" href="#"> <h4><strong>  Accounty </strong> </h4> </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
                    <span><i class="fas fa-align-right iconStyle"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav ml-auto navList">
                        <li class="nav-item active"><a href="#" class="nav-link"><i class="fas fa-home"></i>HOME<span
                                    class="sr-only">(current)</span></a></li>
                        <li class="nav-item">
                            <a href="" class="nav-link"><i class="fas fa-cogs"></i>Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"><i class="fas fa-briefcase"></i>Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"><i class="fas fa-phone"></i>Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"><i class="fas fa-users"></i>About</a>
                        </li>
                        <% if current_user %>
                            <li class="nav-item">
                                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'%>
                            </li>        
                        <% end %>
                    </ul>
                </div>
            </nav>


        </header>

        <!-----------------side bar ----------------------->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-4 sidebar1">
                    <div class="logo">
                        <img src="https://www.designevo.com/res/templates/thumb_small/blue-triangle-and-white-arrow.png" class="img-responsive center-block" alt="Logo">
                    </div>
                    <br>
                    <div class="left-navigation">
                        <ul class="list">
                            <h5><strong>Bhuwan Bhatt</strong></h5>
                            <li>Home</li>
                            <li>Office</li>
                            <li>School</li>
                            <li>Gym</li>
                            <li>Art Class</li>
                            <li>Hike Club</li>
                            <li>School</li>
                            <li>Gym</li>
                            <li>Art Class</li>
                            <li>Hike Club</li>
                        </ul>
    
                        <br>
    
                        <ul class="list">
                            <h5><strong> Software 👩‍💻</strong></h5>
                            <li>Hiking</li>
                            <li>Rafting</li>
                            <li>Badminton</li>
                            <li>Tennis</li>
                            <li>Sketching</li>
                            <li>Horse Riding</li>
                            <li>Rafting</li>
                            <li>Badminton</li>
                            <li>Tennis</li>
                            <li>Sketching</li>
                        </ul>
                    </div>
                </div>
               
        </div>
    <div>