
<%= render partial: "shared/dashboard" %>

  <div class="content-inner">
    <section class="dashboard-counts no-padding-bottom">
      <div class="container-fluid">
         <%= render partial: 'shared/Bhuwan/clients' %>
      </div>
    </section>
 <%= render partial: "shared/footer" %>
  </div>
</div>
</div>



   



