<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="footer-bottom">

    <div class="container ">

        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <div class="copyright">

                       Copyright © 2015  <strong> Accounty</strong>, All rights reserved

                </div>

            </div>

            <div class="col-md-4 col-sm-4 col-lg-4">
                <!-------------------------------------------->
                <div class="social-icons">

                    <ul class="nomargin">

                        <a href=""><i class="fa fa-facebook-square fa-3x social-fb"
                                id="social"></i></a>
                        <a href=""><i class="fa fa-twitter-square fa-3x social-tw"
                                id="social"></i></a>
                        <a href=""><i
                                class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                        <a href=""><i class="fa fa-envelope-square fa-3x social-em"
                                id="social"></i></a>

                    </ul>
                </div>
            </div>
            <!-------------------------------------------->

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <div class="design">

                     <a target="_blank" href=""> Designed &
                        Developed by Team NI</a>

                </div>

            </div>

        </div>

    </div>