<%= render partial: "shared/dashboard" %>

       <div style="position:absolute; overflow:scroll; top:0; height:300mm; 
       margin-bottom:2cm; margin-top: 2cm; margin-left: 6cm; margin-right: 20px; padding: 20px; ">
        
        <div class="conatiner">
        <!-- Main content starts here -->

            <%= render partial:"form" %>

            <!-- Main content ends here -->
        </div>
            
    </div>
    <%= render 'shared/footer' %>
