<div>

        <!-- Start Writing COntent Here -->
        <h1>Clients#index</h1>
        <p>Find me in app/views/clients/index.html.erb</p>
        <p>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nulla, cum minima illo rem asperiores
            laudantium
            molestias placeat deserunt dolore sit, consequuntur vero totam earum ullam veniam atque eos accusamus
            delectus.
            Odio, quisquam voluptatum. Iste fugiat ab repudiandae porro distinctio consequuntur dolor, modi, dignissimos
            veniam, culpa quibusdam. Qui, quam molestiae temporibus suscipit eius nisi repellat.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, asperiores molestiae. Rem veniam
            laboriosam
            voluptates saepe molestiae dolor autem id ad facilis, iusto natus blanditiis exercitationem quos assumenda
            commodi quas? Quidem reprehenderit est consequatur iure, esse magnam, tempore quo cupiditate veritatis animi
            in
            excepturi incidunt maxime id quae dignissimos magni, eos asperiores beatae quia dolore!
            Welcome Bhuwan Bhatt Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quos obcaecati


            fuga, libero maiores ipsum repellat. Animi ab, quo nobis porro repellendus, quisquam provident quidem
            maxime
            facere atque aliquam? Officia, est accusamus fugit sunt quibusdam nesciunt modi itaque vitae omnis,
            laboriosam laborum nihil non nobis ad recusandae voluptatum. Ab molestiae id necessitatibus architecto
            sint?

            ibus accusamus quae repudiandae, quisquam eius laborum. Voluptas ipsum a,
            voluptate, excepturi consequuntur ratione autem natus exercitationem laborum ad consectetur perspiciatis

            Beatae debitis delectus quam ipsum eum minima tempora natus deserunt a fugit aspernatur velit maiores
            quibusdam sed repellat magnam ipsam nemo autem aut iusto, adipisci, voluptatum molestiae. Vero atque
            enim neque dignissimos ea earum debitis ipsam numquam, ipsa nostrum corporis tenetur recusandae
            exercitationem velit ad soluta, itaque porro, fugit repudiandae natus. Explicabo dolorum dignissimos
            e
        </p>
        <!-- Content Ends here -->
    </div>