<body class="firstpage">


    <div class="container">
        <div class="row">
            <div class="col">
                <%= link_to homepages_path do %>
                    <img src="https://www.designevo.com/res/templates/thumb_small/blue-triangle-and-white-arrow.png"
                    alt="logo" width="150" height="150">
                <% end %>
                <div class="col md-6 my-3 ">
                    <div class="d-inline-flex p-2"></div>
                    <h2> Welcome to <strong> Accounty </strong></h2> <br>
                    <p> <strong> No credit card required </strong></p>
                    <ul>
                        <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure facilis excepturi nulla
                            cupiditate amet? Optio non a eligendi nulla, corrupti enim autem. Suscipit recusandae iste
                            veniam ipsum dolores ut aliquid! </li>
                        <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, quam. </li>
                        <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis illo atque, similique
                            reprehenderit pariatur officia. </li>
                        <li> Lorem ipsum dolor sit amet consectetur.</li>
                        <li> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo ipsum vel pariatur!
                        </li>
                    </ul>
                    <div>
                    </div>


                </div>
              
            </div>
            <div class="col  my-3">
                <div class="">
                    <img src="https://static3.depositphotos.com/1007836/260/i/950/depositphotos_2609396-stock-photo-business-finance-chart-graph-diagram.jpg"
                    alt="logo" width="500" height="450">
                </div> 

                <div class="col-md-6 my-3 text-center">
                    <%= link_to  homepages_path do %>
                    <div class="btn btn-primary btn-lg btn-block btn-huge">Enter to Accounty</div>
                    <% end %>
                </div>
            </div>




</body>